.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body,html {
    width: 100%;
    height: 100%;
    font-family: "更纱黑体 UI SC";
    color: #fff;
    position: relative;
}
body{
    overflow-x: hidden;
}
#app {
    width: 800px;
    height: 600px;
    margin: 30px auto;
    box-sizing: border-box;
    box-shadow: 0 0px 20px 2px black;
}

#app > div {
    width: 100%;
    box-sizing: border-box;
}

#app .header {
    height: 50px;
    background: #333333;
}

#app .header > div {
    height: 100%;
    float: left;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    line-height: 50px;
    color: #fff;
}

/*logo*/
#app .header .info {
    width: 25%;
}

#app .header .info svg {
    display: inline-block;
    margin-bottom: -10px;
}

/*搜索*/
#app .header .search {
    width: 60%;
}

#app .header .search input {
    color: #fff;
    display: inline-block;
    width: 60%;
    height: 30px;
    outline: none;
    text-indent: 10px;
    border: none;
    /*border: 1px solid #000;*/
    border-radius: 5px;
    background: #222;
}

input::-webkit-input-placeholder { /* WebKit browsers 适配谷歌 */
    color: #BDCADA;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 适配火狐 */
    color: #BDCADA;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ 适配火狐 */
    color: #BDCADA;
}

input:-ms-input-placeholder { /* Internet Explorer 10+  适配ie*/
    color: #BDCADA;
}

/*关闭按钮*/
#app .header .close {
    width: 15%;
    text-align: right;
    font-size: 22px;
    padding-right: 10px;
    padding-bottom: 35px;
}

#app .header .close > span {
    cursor: pointer;
}

/*****************************/
#app .main {
    height: 500px;
    background: #ededed;
    color: #000;
}

#app .main > div {
    float: left;
    height: 100%;
    box-sizing: border-box;
}

/*歌曲列表*/
#app .main .song_list {
    width: 25%;
    overflow:Scroll;
    overflow-x:hidden;
}
/*滚动条样式*/
/*滚动条宽 长,滚动条整体部分，其中的属性有width,height,background,border等。*/

*::-webkit-scrollbar{

    width: 7px;

}

/*滚动条的滑轨背景颜色,可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果。*/

*::-webkit-scrollbar-track{

    background-color: #f5f5f5;

    -webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.1);

    border-radius:5px;

}

/* 滑块颜色 */

*::-webkit-scrollbar-thumb{

    background-color: rgba(0, 0, 0, 0.2);

    border-radius: 5px;

}

/*滚动条两端的按钮。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果。*/

*::-webkit-scrollbar-button{

    background-color: #eee;

    display: none;

}

/* 横向滚动条和纵向滚动条相交处尖角的颜色 */

*::-webkit-scrollbar-corner{

    background-color: black;

}
#app .main .song_list > ul {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 0;
}

#app .main .song_list > ul li {
    display: inline-block;
    line-height: 30px;
    height: 30px;
    width: 100%;
    font-size: 13px;
    color: #333;
    box-sizing: border-box;
    padding: 0 10px;
    cursor: pointer;
}
#app .main .song_list > ul li .music_info{
    display: inline-block;
    height: 30px;
    width: 130px;
    overflow: hidden;
}
#app .main .song_list > ul li:nth-child(even) {
    background: #fdfdfd;
}

#app .main .song_list > ul li svg {
    margin-bottom: 3px;
}
    /*MV*/
#app .main .mv {
    width: 50%;
}

#app .main .mv .songMv{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
    /*歌词*/
#app .main .lyric {
    box-sizing: border-box;
    width: 25%;
    overflow: scroll;
    overflow-x:hidden;
    border-left: 1px solid #ccc;
}
#app .main .lyric .lyric_list{
    font-family: "思源黑体", "Arial Black", sefi, sans-serif;
    font-size: 13px;
    color: #333;
    font-weight: bold;
    text-align: center;
    margin: 20px 10px 0 10px;
    padding-bottom: 30px;
    box-sizing: border-box;
    line-height: 35px;
}
/***************/
#app .footer{
    height: 50px;
    background: #f1f3f4;
}
#app .footer audio{
    margin: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 0;
    outline: none;
}

.change_width{
    width: 75% !important;
}

.mask_pic{
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: url("https://p2.music.126.net/uIFI3Zx-3aiMNsFlAMBxBQ==/109951163142162226.jpg") no-repeat center center /cover;*/
    filter: blur(10px);
    margin: -12px;
    z-index: -1;
}
