<div class="profile">
    {{- with .Site.Params.profileMode }}
    <div class="profile_inner">
        {{- if .imageUrl -}}
        <img src="{{ .imageUrl | absURL }}" alt="{{ .imageTitle | default "profile image" }}"
            height="{{ .imageHeight | default 150 }}" width="{{ .imageWidth | default 150 }}" />
        {{- end }}
        <h1>{{ .title | default $.Site.Title | markdownify }}</h1>
        <span>{{ .subtitle | markdownify }}</span>
        {{- partial "social_icons.html" $.Site.Params.socialIcons -}}

        {{- with .buttons }}
        <div class="buttons">
            {{- range . }}
            <a class="button" href="{{ trim .url " " }}" rel="noopener" title="{{ .name | title }}">
                <span class="button-inner">{{ .name | title }}</span>
            </a>
            {{- end }}
        </div>
        {{- end }}
    </div>
    {{- end}}
</div>

<!-- hompage.js -->
<script>
    

    //mod style
    document.querySelectorAll("#menu>li>a>span").forEach(e=>{
        e.style.color="#fff"
    });
    document.querySelector(".logo>a").style.color="#fff";

    let mask= document.querySelector("main > div.profile > div.profile_inner");
    mask.addEventListener("mouseenter",e=>{
        e.target.style.opacity=1;
    });
    mask.addEventListener("mouseleave",e=>{
        e.target.style.opacity=.1;

    })
</script>