body.dark{
    background: var(--theme);
}

/*文章列表页*/
body.dark main.main > .post-entry:hover{
    -moz-box-shadow:0px 3px 13px #000000; -webkit-box-shadow:0px 3px 13px #000000; box-shadow:0px 3px 13px #000000;
}
body.dark .pagination a{
    background: var(--tertiary);
    color: var(--primary);
}

/*文章页*/
body.dark .post-content,
body.dark .post-footer .paginav,
body.dark   article  footer  ul  li a
{
    background: var(--entry);
}
body.dark .highlight code{
    background: var(--code-bg);
}
body.dark .post-content h2{
    border-left-color: var(--h2-border);
}
/*评论区*/
body.dark #veditor{
    background: var(--entry);
}
body.dark #veditor .vcontent
,body.dark #veditor > div.vpanel > div > div.vrow > div.vcol.vcol-70.text-right > button
{
    background: var(--code-bg)
}
body.dark div.vmeta span.vat{
    color: #fff;
}
body.dark .v[data-class="v"] .vwrap .vpreview{
    box-shadow: none;
}

body.dark #pinToc{
    color: var(--primary);
}
body.dark .v[data-class="v"] .vcards .vcard .vh,
body.dark .v[data-class="v"] .vcards .vcard .vquote,
body.dark .v[data-class="v"] .vcards .vcard .vimg
{
    border: none;
}
