* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(
            0deg,
            rgba(247, 247, 247, 1) 23.8%,
            rgba(252, 221, 221, 1) 92%
    );
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    width: 450px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#app h2 {
    margin-bottom: 80px;
}

.player-panel {
    margin: 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.info {
    width: 90%;
    height: 90px;
    position: absolute;
    top: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
    margin-bottom: -10px;
    background: rgba(255, 255, 255, .5);
    border-radius: 10px;
    padding-top: 10px;
    transition: top .8s;
}

.info > .container {
    width: 50%;
    height: 90%;
}

.info > .container .progress-container {

    margin-top: 10px;
    width: 100%;
    height: 3px;
    background: #fff;
    cursor: pointer;
}

.info > .container .progress {
    width: 0;
    height: 100%;
    background: #fe8daa;
    position: relative;
}

.info > .container .progress:after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    right: -10px;
    top: -100%;
    background: #fe8daa;
    border-radius: 50%;
}


.control {
    position: relative;
    height: 90px;
    width: 100%;
    line-height: 90px;
    text-align: center;
    padding-left: 150px;
    margin-bottom: 0;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
    z-index: 9;
}

.cover {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 10%;
    top: -30%;
    animation: rotate 4s linear infinite;
    animation-play-state: paused;
}

.cover > img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.cover:after {
    content: "";
    width: 10px;
    height: 10px;
    left: 45%;
    top: 45%;
    border-radius: 50%;
    background: #fff;
    position: absolute;
}

.play .cover {
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.play + .info {
    /*display: block;*/
    top: -70%;
    transition: top .6s;
}

.control button {
    padding: 10px;
    margin-right: 25px;
    border: none;
    outline: none;
    background: #fff;
}


.control button i {
    color: #ded3e1;
    font-size: 18px;
    cursor: pointer;
}

.control button:nth-child(3) i {
    color: #cdc2d0;
    font-size: 25px;
}
